/* Original styles*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  padding: 24px;
  border-bottom: 1px solid #efefef;
}

.header h1 {
  font-size: 28px;
}

.logo {
  width: 56px;
  margin-right: 16px;
}

/* Hackers */
.component-wrapper {
  position: absolute;
  min-height: 1650px;
}

.hacker-wrapper {
  position: relative;
  width: 600px;
}

.hacker {
  font-size: 24px;
  display: inline-block;
  width: 400px;
  background-color: #0ec6fd;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  margin: 2px;
}

.hacker > img {
  height: 100px;
  border-radius: 10%;
  float: left;
  margin-right: 20px;
}

.hacker-list {
  margin-left: 15px;
}

.hacker-name {
  margin-bottom: 10px;
  font-weight: 600;
  color: #fff;
}

.hacker-skills {
  list-style-type: none;
  font-size: 16px;
}

.hacker-skill {
  background-color: #14508e;
  display: -webkit-inline-box;
  margin-right: 10px;
  padding: 4px 8px;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 10px;
  border-radius: 4px;
}

.hacker-accept {
  position: absolute;
  top: 20px;
  right: 116px;
  background-color: #fff;
  color: #39bf31;
  border: 1px solid #39bf31;
  padding: 3px 6px;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hacker-accept-active {
  background-color: #39bf31;
  color: #fff;
}

.hacker-accept:hover {
  background-color: #39bf31;
  color: #fff;
  cursor: pointer;
}

.hacker-reject {
  position: absolute;
  top: 20px;
  right: 40px;
  position: absolute;
  background-color: #fff;
  color: red;
  border: 1px solid red;
  padding: 3px 6px;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hacker-reject-active {
  background-color: red;
  color: #fff;
}

.hacker-reject:hover {
  background-color: red;
  color: #fff;
  cursor: pointer;
}

/* Pagination */
.pagination {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #0ec6fd;
  border-radius: 4px;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  width: 1200px;
  text-align: center;
}

.pagination .disabled {
  color: #14508e;
}

.pagination .disabled:hover {
  cursor: default;
}

.pagination > li {
  text-align: center;
  display: inline-block;
  margin: 15px;
  color: #fff;
  font-weight: bold;
}

.pagination > li:hover {
  cursor: pointer;
}

.pagination > li.active {
  text-align: center;
  color: #14508e;
}

.pagination > li.active > a {
  border: 1px solid #14508e;
  border-radius: 12%;
}

.pagination > li > a {
  outline: 0;
  padding: 8px 12px;
  border:none;
  outline:none;
  text-decoration:none;
  color:inherit;
}

/* Fix float issues */
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

/* Search bar */
input[type=text] {
  width: 402px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-left: 15px;
  margin-bottom: 14px;
  font-size: 16px;
  background-color: white;
  background-image: url(http://www.w3schools.com/howto/searchicon.png);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
/*  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;*/
}

/*input[type=text]:focus {
  width: 50%;
}*/